article 
    margin: 10px 0 
    color: #202845
    font-family: 'Orbitron', sans-serif

article, article > p 
    color: #ffffff

article> p:first-of-type 
    font-weight: bold
    font-size: 22pt
    color: green
img 
    width: 80%
    border-radius: 5pt
    border: 1px solid gray
article>a>button
    height: 30px
    margin: 0.5rem

#searchBox
    display: block
    color: #888c9c
    
#website-search
    display: inline-block
    width: 100px
    height: 30px
    color: #888c9c
    border: solid 1px #888c9c
    border-radius: 2px 0 0 2px
    padding: 0 5px 0 10px
    margin: 0.5rem 0
button 
    width: 70px
    height: 30px
    background-color: #366F33
    color: white
    border: solid 1px #3b8138
    border-radius: 0 2px 2px 0

@media screen and (min-width: 575px)
    label
    img 
        width: 40%