<div id="gallery">
    <label for="website-search" id="searchBox">Search for a website (biobites, hurricain, leipzig wardrobe)</label>
    <input id="website-search" #search placeholder="Eg: Biobites">
    
    <button (click)="searchWebsites(search.value)">Search</button>

    <article *ngFor="let data of results">
        <p>{{data.name}}</p>
        <a href={{data.url}}>URL:{{data.url}}</a>
        <p>{{data.description}}</p>
        <img src={{data.photo}} alt="image of website">
        <button (click)="selectWebsiteName(data)">View</button>

    </article>
</div> 