#logos
    display: grid
    // column-gap: 50px
    // grid-template-columns: 1fr 1fr 1fr 1fr
    margin: 5rem
    padding: 5rem
    border: 1px solid #366F33
    color: white
    display: flex
    justify-content: space-between
    i
        font-size: 5rem
        &:hover
            scale: 1.05
            transition: 0.2s 
    img
        height: 5rem
        &:hover
            scale: 1.05
            transition: 0.2s
            // background-color: #366F33
