<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

<div class="toolbar">
  <!-- <img src="../assets/logo.png" alt="zeros and ones" id="toolbar-matrix"> -->
  <!-- green triangle -->
  <div id="trangle"></div>
  <!-- <div><i class="devicon-github-original"></i></div> -->
  <!-- <i class="devicon-github-original"></i> -->
  <h1>Laura Hesse</h1>
  <!-- <i class='fa fa-linkedin'></i> -->
  <!-- <app-burger></app-burger> -->
  <a href="https://github.com/Laurazig" target="_blank">
    <i class="devicon-github-original" id="githubLogo"></i>
  </a>
</div>
<main>
  <div class="hero-img">
    <div class="hero-text">
      <H2>Hi, I'm Laura</H2>
      <p>I'm a full stack developer in Leipzig</p>
    </div>
  </div>
  <section id="logosWrapper">
    <app-logos></app-logos>
  </section>

  <section id="photo-section">
    <a href="https://needles-craft-kultur.vercel.app/" target="_blank">
      <img src="../assets/NCK.png" alt="Needles, Craft & Kultur" id="NCK">
      <!-- <div class="overlay">
        <div class="text">Next.js - Grassi Museum community textile workshop</div>
      </div> -->
    </a>
    <a href="https://gatxs-laura.vercel.app/" target="_blank">
      <img src="../assets/Gatxs.png" alt="Devhaus Hackathon" id="Devhaus_Hackathon">
    </a>
    <a href="https://laurazig.github.io/leipzigWardrobe/" target="_blank">
      <img src="../assets/LW.png" alt="Leipzig Wardrobe" id="leipzig">
    </a>
  </section>

  <section id="websiteList">
    <app-gallery [websiteList]="websiteDataList">
      (websiteSelectedEvent)="updateSelectedWebsite($event)">
    </app-gallery>
  </section>
  <div id="spacer"></div>
  <article>
    <ng-container *ngIf="selectedWebsite">
      <img [src]="selectedWebsite.photo">
      <p>{{selectedWebsite.name}}</p>
      <!-- <a href={{selectedWebsite?.url}}></a> -->
      <p>{{selectedWebsite.url}}</p>
      <p>{{selectedWebsite.description}}</p>
    </ng-container>
  </article>

  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>