*
  padding: 0
  margin: 0
body, html
  height: 100%
  padding: 0
  margin: none

.toolbar
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 60px
  display: flex
  align-items: center
  background-color: black
  font-weight: 600
  width: 100%
  margin-bottom: 1rem

  img
    height: 70%
    margin-left: 10px
    display: inline

  h1
    text-align: center
    font-family: 'Orbitron', sans-serif
    color: #366F33
    margin-left: 3rem

    // fa fa-linkedin

main
  .hero-img
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/matrix.jpg")
    // height: 100%
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    // position: relative
    margin-top: 30px
    padding: 200px
    .hero-text
      // width: 20rem
      // background-color: rgba(0, 0, 0, 0.262)
      color: white
      text-align: center
      font-family: 'Orbitron', sans-serif
      h2, p
        padding: 0.5rem
        background-color: rgba(0, 0, 0, 0.576)

  #photo-section
    height: 5%
    margin-top: 10%
    padding: 1rem
    display: flex
    justify-content: space-evenly

    a
      width: 30%
      // border: 1px solid lightgray
      position: relative

      img
        width: 100%
        background-size: cover
        transition: all .2s ease-in-out
        display: block
        height: auto
      img:hover
        transform: scale(1.02)
      #Devhaus_Hackathon
        width: auto
        height: 15rem
        margin: auto
      // img
      //   width: 25%
      //   opacity: 1

  #websiteList
    margin: 0 20rem 5rem 3rem

footer
  height: 3rem
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/matrixFooter.jpg")
  background-position: center bottom
  display: flex
  justify-content: center

  a
    height: 2rem
    margin: 0 2rem
    display: flex
    justify-content: center

    img
      margin-top: 5px
      height: 100%
      filter: invert(1)

@media screen and (max-width: 575px)
  main
    #photo-section
      display: inline-block
      img
        display: inline-block
        width: 100%
        margin: auto
        border: 1px solid grey
