
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">#

<div class="toolbar" role="banner">
  <img src="../assets/favicon.png" alt="ginko leaf" id="toolbar-ginko">
  <h1>Laura Hesse</h1>
  <i class='fa fa-linkedin'></i>
</div>
<main>
  <section>
    <app-gallery [websiteList]="websiteDataList"></app-gallery>
    <img src="../assets/favicon.png" alt="ginko" id="background-ginko">
  </section>

  
  <router-outlet></router-outlet>
</main>